<h1>Edit {{this.name}}</h1>
<form class="EventForms" id="addEvents" action="/api/updateEvent/{{this._id}}" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" value="{{this.name}}">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" id='category'>
            <option value="{{this.category}}">{{this.category}}</option>
            <option value="events">Event</option>

        </select>
    </div>
    <div class="form-group">
        <label for="streetAddress">Street Address</label>
        <input name="streetAddress" type="text" value="{{this.streetAddress}}">
    </div>
    <div class="form-group">
        <label for="cityTown">City/Town</label>
        <input name="cityTown" type="text" value={{this.cityTown}}>
    </div>
    <div class="form-group">
        <label for="postcode">Postcode</label>
        <input name="postcode" type="text" value="{{this.postcode}}">
    </div>
    <div class="form-group">
        <label for="longitude">Longitude</label>
        <input name="longitude" type="text" value="{{this.longitude}}">
    </div>
    <div class="form-group">
        <label for="latitude">Latitude</label>
        <input name="latitude" type="text" value="{{this.latitude}}">
    </div>
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input name="startDate" type="text" value="{{this.startDate}}">
    </div>
    <div class="form-group">
        <label for="endDate">End Date</label>
        <input name="endDate" type="text" value="{{this.endDate}}">
    </div>
    <!--
    {{#if this.showOpeningTimes}}
    <div class="form-group">
        <p><strong>Show Opening Times</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="showOpeningTimes" value="true" checked>
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="showOpeningTimes" value="false">
            </label>
        </div>
    </div>
    {{else}}
    <div class="form-group">
        <p><strong>Show Opening Times</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="showOpeningTimes" value="true">
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="showOpeningTimes" value="false" checked>
            </label>
        </div>
    </div>
    {{/if}}-->
    <div class="form-group">
        <label for="openingTimes">Opening Times</label>
        <input name="openingTimes" type="text" value="{{this.openingTimes}}">
    </div>
    <div class="form-group">
        <label for="shortDescription">Short Description</label>
        <textarea name="shortDescription" rows="4">{{this.shortDescription}}</textarea>
    </div>

    {{#if this.toilets}}
    <div class="form-group">
        <p><strong>Toilets</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="toilets" value="true" checked>
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="toilets" value="false">
            </label>
        </div>
    </div>
    {{else}}
    <div class="form-group">
        <p><strong>Toilets</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="toilets" value="true">
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="toilets" value="false" checked>
            </label>
        </div>
    </div>
    {{/if}}
    {{#if this.toilets}}
    <div class="form-group">
        <p><strong>Food</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="food" value="true" checked>
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="food" value="false">
            </label>
        </div>
    </div>
    {{else}}
    <div class="form-group">
        <p><strong>Food</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="food" value="true">
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="food" value="false" checked>
            </label>
        </div>
    </div>
    {{/if}}
    {{#if this.parking}}
    <div class="form-group">
        <p><strong>Parking</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="parking" value="true" checked>
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="parking" value="false">
            </label>
        </div>
    </div>
    {{else}}
    <div class="form-group">
        <p><strong>Parking</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="parking" value="true">
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="parking" value="false" checked>
            </label>
        </div>
    </div>
    {{/if}}
    {{#if this.wheelChairAccess}}
    <div class="form-group">
        <p><strong>Wheel Chair Access</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="wheelChairAccess" value="true" checked>
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="wheelChairAccess" value="false">
            </label>
        </div>
    </div>
    {{else}}
    <div class="form-group">
        <p><strong>Wheel Chair Access</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="wheelChairAccess" value="true">
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="wheelChairAccess" value="false" checked>
            </label>
        </div>
    </div>
    {{/if}}
    {{#if this.dogFriendly}}
    <div class="form-group">
        <p><strong>Dog Friendly</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="dogFriendly" value="true" checked>
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="dogFriendly" value="false">
            </label>
        </div>
    </div>
    {{else}}
    <div class="form-group">
        <p><strong>Dog Friendly</strong></p>
        <div class="checkBoxContainer">
            <label for="yes">
                <span class="label-body">Yes</span>
                <input type="radio" id="yes" name="dogFriendly" value="true">
            </label>
            <label for="no">
                <span class="label-body">No</span>
                <input type="radio" id="no" name="dogFriendly" value="false" checked>
            </label>
        </div>
    </div>
    {{/if}}



    <div class="form-group">
        <label for="link">Web Link</label>
        <input name="link" type="text" value="{{link}}">
    </div>
    <div class="form-group">
        <label for="imageName">Image Name</label>
        <input name="imageName" type="text" value="{{this.imageName}}">
    </div>
    <button class="submitBTN" type="submit">Submit</button>
</form>